<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Appix Project Manager</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- <link href="./../vistas/css.ejs" rel="stylesheet"> Pendiente aplicar fonts-->

    <!-- Header de la pagina -->

  </head>
  <body>
    <header class="p-3 mb-3 border-bottom d-flex align-items-center">
      <a href="/" class="d-flex align-items-center me-md-auto link-body-emphasis text-decoration-none">
        <svg class="bi me-2" width="1" height="32"><use xlink:href="#bootstrap"></use></svg>
        <img src="/images/LogoAppix.png" height="100" width="120"/>
        <span class="fs-4" style="font-weight: bold;">Appix Project Manager</span>
      </a>
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
            <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
          </a>
  
          <ul class="nav col-12 col-lg-auto ms-auto mb-2 justify-content-end mb-md-0">
            <li><a href="#" class="nav-link px-2 link-secondary">Registrar Proyecto</a></li>
          </ul>        
          <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
            <input type="search" class="form-control" placeholder="Buscar Proyecto..." aria-label="Search">
          </form>
  
          <div class="ProfilePic">
            <a href="#" " data-bs-toggle="dropdown" aria-expanded="false">
              <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
            </a>
          </div>
        </div>
      </div>
    </header>

    <!-- Sidebar de interfaces/opciones -->
  
<body>
  <main class="d-flex flex-nowrap">
    <div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary" style="width: 280px;">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-4">Menu</span>
      </a>
      <hr>
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a href="#" class="nav-link active" id="inicio-link">
            <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
            Inicio
          </a>
        </li>
        <li>
          <a href="#" class="nav-link link-body-emphasis" id="proyectos-link">
            <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
            Proyectos
          </a>
        </li>
        <li>
          <a href="#" class="nav-link link-body-emphasis" id="riesgos-link">
            <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
            Riesgos
          </a>
        </li>
        <li>
      </ul>
      <hr>
      <div
        <a href="#" class="nav-link link-body-emphasis" id="perfil-link">
          <svg class="bi pe-none me-2" width="16" height="32"><use xlink:href="#grid"></use></svg>
          <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
          <strong>Cuenta</strong>
        </a>
      </div>
    </div>

    <!-- Interfaz De Inicio Carroussel -->

    <div class="carousel">
      <div class="container px-4 py-6" id="carousel">
    <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel" style="background-color: rgba(13,112,200,1);">

      <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class="active" aria-current="true"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item">
          <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
          <div class="container">
            <div class="carousel-caption text-start">
              <h1>Bienvenido a Appix Project Manager!</h1>
            </div>
          </div>
        </div>
        <div class="carousel-item active">
          <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
          <div class="container">
            <div class="carousel-caption">
              <h1>Gestiona tus proyectos facilmente.</h1>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
          <div class="container">
            <div class="carousel-caption text-end">
              <h1>Visualiza riesgos de tus proyectos.</h1>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  
        <!-- Interfaz De Inicio Headings circulares -->

    <div class="row mt-5">
      <div class="col-lg-4">
        <img src="/images/recproyect.png" svg class="bd-placeholder-img" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
        <h2 class="fw-normal">Resumen</h2>
        <p>Consulta un resumen de tus proyectos mas recientes.</p>
        <p><a class="btn btn-secondary" href="#">Ver »</a></p>
      </div>
      <div class="col-lg-4">
        <img src="/images/duedate.png" svg class="bd-placeholder-img" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
        <h2 class="fw-normal">Por Terminar</h2>
        <p>Consulta tus proyectos cerca de la fecha limite.</p>
        <p><a class="btn btn-secondary" href="#">Ver »</a></p>
      </div>
      <div class="col-lg-4">
        <img src="/images/altoriesgo.png" svg class="bd-placeholder-img" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
        <h2 class="fw-normal">Estadisticas de Riesgo</h2>
        <p>Consulta tus proyectos con mas riesgos.</p>
        <p><a class="btn btn-secondary" href="#">Ver »</a></p>
      </div>
    </div>
  </main>

  <div class="container">
    <footer class="d-flex flex-wrap justify-content-between py-3 my-4 border-top">
      <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
          <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
        </a>
        <span class="mb-3 mb-md-0 text-body-secondary text-nowrap">Contáctanos: a01710879@tec.mx, a0171016@tec.mx, a01612348@tec.mx </span>
      </div>
  
      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <img src="/images/LogoAppix.png" width="55" height="45"li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24"></use></svg></a></li>
      </ul>
    </footer>
  </div>

    <!-- Funciones con ID para navegar entre las interfaces -->

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script>
  document.getElementById("proyectos-link").addEventListener("click", function(event) {
    event.preventDefault(); 
    window.location.href = "proyectos";
  });
  document.getElementById("riesgos-link").addEventListener("click", function(event) {
    event.preventDefault(); 
    window.location.href = "riesgos";
  });
  document.getElementById("perfil-link").addEventListener("click", function(event) {
    event.preventDefault(); 
    window.location.href = "perfil";
  });
</script>
</body>
</html>

