<header class="p-3 mb-3 border-bottom d-flex align-items-center">
    <a href="/" class="d-flex align-items-center me-md-auto link-body-emphasis text-decoration-none">
        <svg class="bi me-2" width="1" height="32"><use xlink:href="#bootstrap"></use></svg>
        <img src="/images/LogoAppix.png" height="100" width="120"/>
        <span class="fs-4" style="font-weight: bold;">Appix Project Manager</span>
    </a>
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
            </a>
  
            <ul class="nav col-12 col-lg-auto ms-auto mb-2 justify-content-end mb-md-0">
            </ul>        
            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                <input type="search" class="form-control" placeholder="Buscar Proyecto..." aria-label="Search">
            </form>
  
            <div class="ProfilePic">
                <a href="#" " data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
                </a>
            </div>
        </div>
    </div>
</header>