<html>
    <body>
        <h1>Gracias por iniciar sesión!</h1>
        <p><%= user.nombre %></p>
        <p><%= user.contrasenia %></p>
        <p><%= user.correo %></p>
        <p><%= user.privilegio %></p>
    </body>
</html>